<div class="container">
	<div class="row">
		<div class="col-md-4">
		<% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
    <% end %>
			<h2>マイページ</h2>
			<table style="width: 100%;">
				<tr>
 					<th>プロフィール</th>
          <td>
            <% if current_user.profile_image? %>
              <%= image_tag current_user.profile_image_url.to_s %>
            <% else %>
              <%= image_tag asset_path("no_image.png", :alt => 'プロフィール') %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= current_user.email %></td>
        </tr>
				<tr>
          <th>編集はこちら</th>
					<td>
              <%= link_to "編集する", edit_user_path, class: "btn btn-success ml2" %>
          </td>
				</tr>
      </table>
    </div>
    <div class="col-md-4">
      <h3>登録商品</h3>
      <% @listing_works.each do |work| %>
      <table>
        <tr>
          <td>
            <ul>
              <li>
                <%= work.created_at.strftime('%Y/%m/%d') %>
                <%= link_to work.name, listing_work_path(work) %>
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>依頼作品</h3>
      <% @order_works.each do |work| %>
      <table>
        <tr>
          <td>
            <ul>
              <li>
                <%= work.created_at.strftime('%Y/%m/%d') %>
                <%= link_to work.name, order_work_path(work) %>
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" style="padding-top: 30px;">
      <%= link_to orders_path do %>
          <button type="button" class="btn btn-outline-primary">購入商品</button>
      <% end %>
      <%= link_to accepts_path do %>
          <button type="button" class="btn btn-outline-primary">提案承諾</button>
      <% end %>
      <%= link_to proposals_path do %>
          <button type="button" class="btn btn-outline-warning">提案一覧</button>
      <% end %>
    </div>
  </div>
</div>