<div class="container">
	<div class="row">
		<div class="col-md-4">
		<% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
    <% end %>
			<h2>マイページ</h2>
			<table>
				<tr>
          <td>
   					プロフィール画像
            <p><%= image_tag current_user.profile_image.to_s %></p>
   					<p>ニックネーム・<%= current_user.name %></p>
   					<p>メールアドレス・<%= current_user.email %></p>
          </td>
				</tr>
				<tr>
					<td>
              <%= link_to "編集する", edit_user_path, class: "btn btn-success ml2" %>
              <%= link_to "取引履歴", orders_path, class: "btn btn-primary" %>
          </td>
				</tr>
      </table>
    </div>
    <div class="col-md-4">
      <h3>登録商品</h3>
      <table>
        <tr>
          <% @listing_works.each do |work| %>
            <td><%= work.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to listing_work_path(work) do %>
              <%= work.name %>
              <% end %>
            </td>
            <td><%= link_to "編集する", edit_listing_work_path(work), class: "btn btn-success ml2" %></td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h3>依頼作品</h3>
      <table>
        <tr>
          <% @order_works.each do |work| %>
            <td><%= work.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to order_work_path(work) do %>
              <%= work.name %>
              <% end %>
            </td>
            <td><%= link_to "編集する", edit_order_work_path(work), class: "btn btn-success ml2" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to orders_path do %>
        <h3>購入商品</h3>
      <% end %>
      <%= link_to proposals_path do %>
        <h3>提案一覧</h3>
      <% end %>
    </div>
  </div>
</div>