<div class="order-work">
  <table>
    <thead>
      <tr>
        <th>ファイル</th>
        <td>
          <% if @order_work.image? %>
            <%= image_tag @order_work.image.to_s %>
          <% elsif @order_work.video?  %>
            <%= link_to @order_work.video_url.to_s do %>
            <%= image_tag(@order_work.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
            <% end %>
          <% else %>
            <%= audio_tag(@order_work.audio, :controls => true) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>依頼名</th>
        <td><%= @order_work.name %></td>
      </tr>
      <tr>
        <th>依頼内容</th>
        <td><%= @order_work.description %></td>
      </tr>
      <tr>
        <th>希望納期</th>
        <td><%= @order_work.term %>まで</td>
      </tr>
      <tr>
        <th>依頼料金</th>
        <td><%= @order_work.price %>円</td>
      </tr>
      <tr>
        <th>ステータス</th>
        <% if user_signed_in? %>
        <td>
          <% if @order_work.user == current_user %>
            <%= link_to "編集する", edit_order_work_path(@order_work), class: "btn btn-success ml2" %>
            <%= link_to "提案文一覧", order_proposals_path(@order_work.id), class: "btn btn-danger" %>
          <% else %>
            <% if @order_work.is_sales? %>
            <span class="text-active">公開中</span>
              <%= link_to "提案する", new_proposal_path(@order_work), class: "btn btn-primary" %>
            <% else %>
              <span class="text-invalid">公開停止中</span>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>