<div class="proposal-new" style="width: 60%; margin: 0 auto;">
  <h2 style="padding-bottom: 20px;"><%= @order_work.name %>の提案文作成</h2>
  <%= form_for [@order_work, @proposal], url: order_work_proposals_path, method: :post do |f| %>
      <table>
      <tr>
        <th><%= f.label :statement, "提案内容" %></th>
        <td><%= f.text_area :statement %></td>
      </tr>
      <tr>
        <th><%= f.label :term, "可能納期" %></th>
        <td><%= f.date_field :term %></td>
      </tr>
      <tr>
        <th><%= f.label :price, "提示金額" %></th>
        <td><%= f.text_field :price %>円</td>
      </tr>
      <%= f.hidden_field :user_id, value: current_user.id %>
      </table>
    <div style="padding: 50px 350px;">
      <%= f.submit "提案文を送信する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
