<div class="listing-new">
	<%= form_for(@listing_work, url: listing_works_path) do |f| %>
		<%= render 'layouts/error_message', resource: @listing_work %>
		<div class="flex">
			<div class="file-field">
				<%= f.label :image, "画像ファイル" %>
				<%= f.file_field :image, :accept => 'image/*' %>
				<%= f.label :video, "動画ファイル" %>
				<%= f.file_field :video, :accept => 'video/*' %>
				<%= f.label :audio, "音声ファイル" %>
				<%= f.file_field :audio, :accept => 'audio/*' %>
			</div>
			<table class="listing-work-form" style="margin: 30px 0px;">
				<tr>
					<th><%= f.label :name, "商品名" %></th>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<th><%= f.label :description, "商品説明" %></th>
					<td><%= f.text_area :description, rows: 3 %></td>
				</tr>
				<tr>
					<th><%= f.label :listing_genre_id, "ジャンル" %></th>
					<td class="select_field"><%= f.collection_select :listing_genre_id, ListingGenre.all, :id, :name %></td>
				</tr>
				<tr>
					<th><%= f.label :price, "商品価格" %></th>
					<td><%= f.text_field :price %> 円</td>
				</tr>
				<tr>
					<th><%= f.label :is_sales, "公開ステータス" %></th>
					<td class="select_field">
						<%= f.radio_button :is_sales, true, :checked => true %>
						<%= f.label :is_sales, "公開中", class: "text-active"%>
						<%= f.radio_button :is_sales, false %>
						<%= f.label :is_sales, "公開停止中", class: "text-invalid" %>
					</td>
					<%= f.hidden_field :user_id, :value => current_user.id %>
				</tr>
			</table>
			<div>
				<%= f.submit "登録する", data: { confirm: "こちらの内容で登録します。よろしいですか？"}, class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>
