<div class="admin-user">
	<h2><%= @user.name %>さんのページ</h2>
	<table class="user_info">
			<tr>
				<th>会員ID</th>
				<td><%= @user.id %></td>
			</tr>
			<tr>
				<th>名前</th>
				<td><%= @user.name %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%= @user.email %></td>
			</tr>
			<tr>
				<th>出品作品</th>
				<% @listing_works.each do |listing| %>
					<td>
						<%= link_to listing.name, listing_work_path(listing) %>
					</td>
				<% end %>
			</tr>
			<tr>
				<th>依頼作品</th>
				<% @order_works.each do |order| %>
				<td>
					<%= link_to order.name, order_work_path(order) %><br>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>ステータス</th>
				<td>
					<% if @user.is_unsubscribe? %>
						<span class="text-invalid">退会済み</span>
					<% else %>
						<span class="text-active">有効</span>
					<% end %>
				</td>
			</tr>
			<tr>
				<th></th>
				<td><%= link_to "編集する", edit_admins_user_path(@user), class: "btn btn-primary" %></td>
			</tr>
	</table>
</div>
